@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ProductsProject.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
<h2>Category List</h2>

<p>
  <a class="btn btn-success" href="@Url.Action("Create","Categories")">Add New</a>
</p>
<table class="table">
    <tr>
        <th>CategoryId</th>
        <th>CategoryName</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("Edit","Categories",new {id=item.Id})">Edit</a>
                <a class="btn btn-info" href="@Url.Action("Details","Categories",new {id=item.Id})">Details</a>
                <a class="btn btn-danger" href="@Url.Action("Delete","Categories",new {id=item.Id})">Delete</a>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
